
body{
    background: rgb(250,231,136);
    background: linear-gradient(180deg, rgba(250,231,136,1) 0%, rgba(122,188,91,1) 45%, rgba(17,73,64,1) 100%); 
}
.nav{
    background-color: #972c14;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navdiv{
    font-size: large;
    color: white;
    height: 50px;
}
.navdiv:hover{
    background: rgba(0,0,0,.25);
    cursor: pointer;
}
.hotline{
    margin-right: 400px;
    font-size: 20px;
    color: gold;
    font: italic;   
}
.secondnav{
    height: 100px;   
}
.websitename{
    color: white;
    font-size: 80px;
    display: flex;
    justify-content: center;
}
.fa-layer-group{
    margin-top: 14px;
}
.fa-address-card{
    margin-top: 14px;
}
.fa-file{
    margin-top: 14px;
}
.mainpageimg > img{
    width: 1333px;
    height: 400px;
}
.cardcontainer{
    height: 100px;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
}
.cardcate{
    height: 70px;
    width: 250px;
    background-color: white;
    font-size: larger;
    align-items: center;
    display: flex;
}
.category{
    margin-top: 30px;
}
.fa-magnifying-glass-location{
    margin-left: 10px;
    margin-right: 10px;
}
.blue{
    color: black;
    size: 40px;
    font-size: xx-large;
}
.lightblue{
    color: #1b448e;
    size: 40px;
    font-size: xx-large;
}
.fa-plane{
    margin-left: 10px;
    margin-right: 10px;
    font-size: xx-large;
    color: darkcyan;
}
.fa-hotel{
    margin-left: 10px;
    margin-right: 10px;
    font-size: xx-large;
    color: #5cb1aa;
}
.Tourlist{
    font-size: 30px;
    margin-top: 50px;
}
.Tourlist:hover{
    cursor: pointer;
}
.cardtcc{
    height: 400px;
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}
.demonstrationimg{
    height: 160px;
    width: 160px;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-bottom: 40px;
}
.tourcardcontainer{
    justify-content: space-around;
    display: flex;
    margin-top: 40px;
}
.navigationbutton{
    background-color: #BFBFBF;
    height: 50px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: x-large;
}
.destinationname{
    background-color: #D8E1E9;
    height: 50px;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    font: bold;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.cardtcc:hover{
    cursor: pointer;
}
.experiences{
    font-size: xx-large;
    margin-top: 40px;
}
.experiences:hover{
    background-color: rgba(0,0,0,.25);
}
.information{
    background-color: #E14723;
    font-size: large;
}
.location{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    font-size: x-large;
    margin-bottom: 40px;
}
.cardtccp{
    background-color: white;
    height: fit-content;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.foot{
    display: flex;
    margin: 20px;
    font-size: large;
}
.footer{
    color: gray;
    margin-top: 40px;
}
.cardtcck{
    background-color: #E8E8E8;
    height: 450px;
    width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.destinationname2{
    background-color: #C6D8D3;
    height: 50px;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    font: bold;
}
.info{
    font-size: larger;
}
